aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
contextvars==2.4
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
immutables==0.14
itsdangerous==1.1.0
Jinja2==2.11.2
loguru==0.5.3
lxml==4.5.2
MarkupSafe==1.1.1
multidict==4.7.6
peewee==3.13.3
pydantic==1.6.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
vbml==0.5.93
vk-api==11.8.0
watchgod==0.6
Werkzeug==1.0.1
yarl==1.5.1
